body {
    background: white
}
h1 {
    color: #4361EE
}
article {
    color: #F72585
}
h2 {
    color: #13839f
}
h3 {
    color: #66D7D1
}
footer {
    color: #F9E900
}
section {
    color: #c60a06
}
.hotpink-header {
    color: hotpink
}
#top {
    background: #5ef534
}
nav a {
    color: #058211
}
